<!DOCTYPE html>
<html>
<head>
  <!--latex-->
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css"
  integrity="sha384-EI1+75VpH35O/jLl6U2o5+I7A8gDQx4aRWbAFlELapIepi4L/Um4q7I8Za0kNuRz" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js"
  integrity="sha384-sgE/UJ6Gyh1l1ya1FpEm+7LkkFd+q09R2LDb5Yb2Q3o+4BDh1ePaA+wkXw5vBEQe" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js"
  integrity="sha384-jc/A6r/RFusECirrKcc8TC4dgS4Zt9R6zn18a8yJbx2pkHPkL5ByIsXaJGXqKd4U" crossorigin="anonymous"
  onload="renderMathInElement(document.body);"></script>
  

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-89NW8DELM7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-89NW8DELM7');
    </script>
<head>
        
  {% include head.html %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-89NW8DELM7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-89NW8DELM7');
  </script>

  <body>
  <div class="page">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include analytics.html %}
    </div>
  </body>

  

</html>
